<% if flash.now[:success] %>
  <%= render "layouts/toast" %>
<% end %>
<div class="signup">
    <div class="signup__left">
        <div class="signup--yelow">
            <a href="/" class="signup__header">
                <div class="signup__logo">
                    <svg width="100" id="sprite-hamham" viewBox="0 0 800 965.9">
                        <path
                            d="M761.5 227.6c-4.3-4.5-9.6-8-15.4-10.2l-27.6-10.8c-6.4-20.2-15.2-39.6-26.2-57.8C650.3 80.2 548.5 0 400 0S149.7 80.2 107.7 148.8c-11 18.1-19.8 37.5-26.2 57.8l-27.6 10.8c-5.8 2.2-11.1 5.7-15.4 10.2-11.4 12-31 39.5-31 86.1 0 39.7 8.8 63.8 15.8 76.7 3.7 6.9 9.3 12.7 16 16.7l60 35.6L114 202.3c5-13.3 11.2-26.1 18.5-38.2 38.1-62.2 131-134.9 267.5-134.9s229.3 72.7 267.5 134.9c7.3 12.1 13.6 24.9 18.6 38.2l14.7 240.4 60-35.6c6.8-4 12.3-9.7 16.1-16.7 7-12.9 15.8-37.1 15.8-76.7-.2-46.6-19.8-74-31.2-86.1z"
                        ></path>
                        <path
                            d="M733.5 503.4c-5.3-16.2-8.1-33.1-8.3-50.1 19.8-110.9 3.8-192.7-34.3-249-7.7-11.3-16.4-21.8-26-31.5V65.9c0-16.1-17.1-26.8-32.1-20L531.7 91.6C493.4 78.7 449.3 70.7 400 70.7s-93.4 8-131.7 20.8L167.1 45.8c-15-6.8-32.1 3.9-32.1 20v106.9c-9.6 9.7-18.3 20.3-26 31.5C74.9 254.8 58.5 325.8 69.8 420h-.2s.1.6.3 1.6c.8 6.6 1.8 13.4 2.8 20.2 1.3 16.2 1.2 39.3-6.4 61.6C52.5 543.8 14.8 651.5 14.6 669c-.2 18.1 13.8 27.7 29.2 24.6 7.8-1.6 16-6.1 23.1-13.1-.7 39.8 6.2 81.3 31.8 126.6 12.9 22.9 32.1 41 54.5 55.5-13.4 13.4-33.9 37.1-33.9 57.8 0 30.9 46.8 30.9 57.1 30.9h141c19.1 0 42.4-4.8 40.9-32.7 23.6 1.7 38.8 1.8 38.8 1.8h5.8s15.2.3 38.8-1.2c-1.2 27.2 22 32 40.9 32h141c10.3 0 57.1 0 57.1-30.9 0-20.7-20.2-44.2-33.7-57.7 22.3-14.6 41.4-32.8 54.3-55.7 25.5-45.2 32.4-86.7 31.8-126.4 6.3 6.5 14.3 10.9 23.1 12.9 15.4 3.2 29.5-6.5 29.2-24.6-.2-17.4-38.1-125-51.9-165.4z"
                            fill="#c0fff8"
                        ></path>
                        <path
                            d="M680.4 568.4c-8.8-49.6-26.1-111.7-94.4-111.7s-96.8 39.8-185.7 39.8h-.7c-88.9 0-117.4-39.8-185.7-39.8s-85.6 62.1-94.4 111.7S86.1 722.6 163 798.7s397 76.1 473.9 0 52.3-180.7 43.5-230.3z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M206.4 100l-29.3-13.3c-4.2-1.9-9.1-.1-11 4-.5 1-.8 2.2-.8 3.3v31.2c0 2.7 2.3 4.9 5 4.9 1 0 1.9-.3 2.8-.9 10.8-7.5 22-14.4 33.6-20.6 2.3-1.2 3.3-4.1 2.1-6.4-.6-1-1.4-1.8-2.4-2.2zm428.3 26.1v-32c-.1-4.6-3.9-8.2-8.4-8.1-1.2 0-2.3.3-3.3.8l-30.1 13.6c-2.2 1-3.2 3.5-2.2 5.7.4.9 1.1 1.7 2 2.1 12.1 6.5 23.8 13.6 35 21.4 2 1.5 4.8 1 6.3-1 .4-.7.7-1.6.7-2.5zM372.9 407.3h54.3c5.1 0 9.2 4.1 9.2 9.2s-4.1 9.2-9.2 9.2h-54.3c-5.1 0-9.2-4.1-9.2-9.2-.1-5 4.1-9.2 9.2-9.2z"
                        ></path>
                        <circle cx="250.9" cy="304.1" fill="#fff" r="117.1"></circle>
                        <path
                            d="M250.8 428.5c-68.7 0-124.4-55.7-124.4-124.4s55.7-124.4 124.4-124.4 124.4 55.7 124.4 124.4c0 68.6-55.7 124.3-124.4 124.4zm0-234.3C190.1 194.2 141 243.4 141 304s49.2 109.8 109.8 109.8S360.6 364.6 360.6 304s-49.1-109.7-109.8-109.8z"
                        ></path>
                        <circle cx="250.9" cy="304.1" r="79.9"></circle>
                        <circle cx="549.2" cy="304.1" fill="#fff" r="117.1"></circle>
                        <path
                            d="M549.2 428.5c-68.7 0-124.4-55.7-124.4-124.4s55.7-124.4 124.4-124.4 124.4 55.7 124.4 124.4c-.1 68.6-55.8 124.3-124.4 124.4zm0-234.3c-60.7 0-109.8 49.2-109.8 109.8s49.2 109.8 109.8 109.8S659 364.7 659 304.1c-.1-60.7-49.2-109.8-109.8-109.9z"
                        ></path>
                        <circle cx="549.2" cy="304.1" r="79.9"></circle>
                        <path
                            d="M156.5 153c-20.2 16.8-36.1 34.5-47.4 51.4-25.4 37.6-41 86.5-42.7 147.9m665.3 54.9c8.4-87.9-8.1-154.8-40.7-202.9-10.8-16-25.7-32.7-44.4-48.8"
                            fill="none"
                        ></path>
                        <path
                            d="M752.8 514.3l-5.3-15.6c-6.9-20.1-6.9-41.3-5.8-55 1-6.7 2-13.3 2.8-19.8l2.1-7.3-1.2-.3c9.9-89.8-4.4-163.9-42.4-220.1-7.1-10.3-14.9-20.1-23.5-29.2V65.9c0-15-9.3-28.5-23.2-34-9.4-3.8-20.5-3.4-30.5 1.2l-86.4 39.1c-5.4 2.4-11.6 2.9-17.3 1.2l-1.8-.6-2.6-.7c-3.7-1-7.5-2-11.4-3-2.5-.7-5.1-1.3-7.6-1.8-3.7-.9-7.5-1.7-11.2-2.4-2.5-.5-5.1-1-7.7-1.4l-1.3-.2c-4.6-.8-9.2-1.6-13.9-2.3-4.8-.7-9.7-1.4-14.6-1.9-2.2-.2-4.4-.4-6.6-.7l-1.8-.2c-4.6-.4-9.2-.8-13.8-1l-1.5-.1-5.4-.3c-14-.7-28-.7-42 0l-5.4.3-1.5.1c-4.6.3-9.2.6-13.8 1l-1.8.2c-2.2.2-4.4.4-6.6.7-4.9.5-9.7 1.2-14.5 1.9-4.7.7-9.3 1.4-13.9 2.3l-1.2.2c-2.6.5-5.2.9-7.8 1.5-3.8.8-7.5 1.6-11.3 2.4-2.5.6-5.1 1.2-7.6 1.8-3.8 1-7.7 1.9-11.5 3-.9.2-1.7.5-2.6.8l-1.9.6c-5.7 1.7-11.8 1.3-17.2-1.2L174.2 33c-10-4.5-21.1-5-30.5-1.2-14 5.5-23.2 19-23.2 34v101.1c-8.6 9.1-16.4 18.9-23.5 29.2-38 56.2-52.3 130.3-42.4 220.1l-.8.2 1.7 7.5c.8 6.5 1.7 13 2.7 19.1 1.2 14.2 1.1 35.4-5.7 55.5l-5.3 15.6C17.5 600.8.2 653.8 0 668.7c-.2 12.8 4.7 24 13.7 31.4 8.8 7.2 21.1 10.1 33.1 7.7 2.1-.4 4.2-1 6.3-1.7 2.7 38.7 13.3 73.3 33 108.1 10.7 18.9 25.8 36 45 50.7-17.5 20.3-26.3 39-26.3 55.5 0 13.7 7 45.5 71.7 45.5h141c20.7 0 35.4-5 45-15.2 4.3-4.7 7.4-10.4 9-16.5 15.8.9 25.6.9 25.7.9h5.8c.1 0 9.9-.1 25.7-.9 1.6 6.2 4.7 11.9 9 16.5 9.6 10.3 24.3 15.2 45 15.2h141c64.7 0 71.7-31.8 71.7-45.5 0-16.5-8.8-35.2-26.3-55.5 19.2-14.8 34.3-31.8 45-50.7 19.7-34.8 30.2-69.4 33-108.1 2.1.7 4.2 1.3 6.3 1.7 12 2.5 24.3-.4 33.1-7.7 9-7.4 13.8-18.6 13.7-31.4-.4-14.9-17.7-67.9-47.4-154.4zm19.6 169c-3.8 3.1-9.1 4.2-14.7 3.1-6.5-1.5-12.4-4.6-17.4-9.1-.7-26.4-4.5-51.9-8.2-77.1l-1-6.6c-.6-4-4.3-6.7-8.3-6.1s-6.7 4.3-6.1 8.3l1 6.6c9.3 62.6 19 127.3-22.7 201.1-19.8 35.1-57.1 62.4-110.7 81.2-3.8 1.3-5.8 5.5-4.4 9.3 1 2.9 3.8 4.8 6.8 4.9.8 0 1.6-.1 2.4-.4 19.8-6.8 38.8-15.6 56.8-26.4 17.5 18.5 27.6 35.9 27.6 48.4 0 20.6-31.2 23.6-49.8 23.6h-141c-14.1 0-23.8-2.8-28.9-8.3-2.5-2.9-4.1-6.5-4.5-10.3 15.6-1.3 34-3.2 53.9-6.3 4-.6 6.7-4.3 6.1-8.3s-4.3-6.7-8.3-6.1c-32.4 5-65.2 7.8-98 8.5h-5.7c-32.8-.7-65.6-3.5-98-8.5-4-.6-7.7 2.1-8.3 6.1s2.1 7.7 6.1 8.3c19.9 3 38.3 5 53.9 6.3-.4 3.8-1.9 7.5-4.5 10.3-5.1 5.5-14.9 8.3-28.9 8.3h-141c-18.6 0-49.8-3.1-49.8-23.6 0-12.5 10-29.9 27.6-48.4 17.9 10.8 37 19.6 56.8 26.4.8.3 1.6.4 2.4.4 4 0 7.3-3.2 7.3-7.3 0-3.1-2-5.9-4.9-6.9-53.6-18.8-90.9-46.1-110.7-81.2-42-73.9-32.3-138.6-23-201.2l1-6.6c.6-4-2.2-7.7-6.1-8.3-4-.6-7.7 2.2-8.3 6.1l-1 6.6c-3.8 25.2-7.5 50.7-8.2 77.1-4.9 4.5-10.9 7.6-17.4 9.1-5.6 1.2-10.9 0-14.7-3.1s-5.8-8.1-5.7-14.3c.2-14.4 32.3-107.8 46-147.7l5.4-15.6c12.7-37.2 5.9-75.7 3.9-85.2-10.8-87.5 1.9-158.8 37.9-212 3.7-5.4 11.2-15.2 17.4-23.1 6.4-8.2 9.9-18.3 9.9-28.7V65.9c0-4.9 2.5-9.5 6.6-12.1 4.7-3.2 10.8-3.2 16-.9l80 36.2c.9.4 1.3 1.5.9 2.4-.2.4-.6.8-1 1-6.5 2.6-12.9 5.3-19.2 8.3-3.7 1.7-5.2 6.1-3.5 9.7 1.2 2.6 3.8 4.2 6.6 4.2 1.1 0 2.1-.2 3.1-.7 12-5.6 24.4-10.6 36.9-14.8l1.7-.6c3.3-1.1 6.7-2.1 10.1-3.2 2.1-.7 4.3-1.3 6.4-2 3.7-1 7.4-2 11.2-3 2.3-.6 4.5-1.1 6.8-1.7 3.7-.9 7.4-1.7 11.1-2.5 2.8-.6 5.6-1 8.3-1.5 5.4-1 10.8-1.8 16.2-2.6 3.7-.5 7.5-1 11.2-1.5 2.8-.3 5.6-.6 8.4-.8 4.2-.4 8.4-.7 12.6-1 2.3-.2 4.7-.3 7-.4 6.6-.3 13.3-.5 20-.5s13.4.2 20 .5c2.3.1 4.7.3 7 .4 4.2.3 8.4.6 12.6 1 2.8.3 5.6.5 8.4.8 3.8.4 7.5.9 11.2 1.5 5.4.8 10.8 1.6 16.2 2.6 2.8.5 5.6 1 8.3 1.5 3.7.8 7.4 1.6 11.1 2.5 2.3.5 4.6 1.1 6.9 1.7 3.7.9 7.5 1.9 11.2 3 2.2.6 4.3 1.3 6.4 2 3.4 1 6.8 2 10.1 3.2l1.7.6c12.6 4.3 24.9 9.2 36.9 14.8 3.6 1.8 8 .3 9.8-3.3s.3-8-3.3-9.8c-.1 0-.2-.1-.2-.1-6.3-3-12.7-5.7-19.2-8.3-.9-.4-1.4-1.4-1-2.3.2-.4.5-.8 1-1L635.1 53c5.2-2.3 11.3-2.3 16 .9 4.1 2.7 6.6 7.2 6.6 12.1v90.7c0 10.4 3.5 20.5 9.9 28.7 6.2 7.9 13.7 17.7 17.4 23.1 36 53.2 48.7 124.5 37.9 212.1-2 9.5-8.8 48 3.9 85.2l5.4 15.7c13.7 39.9 45.8 133.3 46 147.7 0 6-2 10.9-5.8 14.1z"
                        ></path>
                    </svg>
                </div>  
                <h1 href="">tinder.v2</h1>
            </a>
            <p>Tinder is how people meet. It's like real life, but better.</p>
        </div>
        <div class="signup__image">
            <%= image_tag("signup.png") %>
        </div>
    </div>
    <div class="signup__right">
        <div class="signup__nav">
            <p>Already a member? </p>
            <%= link_to "Log in", new_user_session_path %>
        </div>

        <div class="signup__form">
            <div class="signup__auth">
                <h1>Sign up to Tinder</h1>
            </div>
            <div class="signup__social">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-labelledby="cie3i98yxc3p02tdjryjig2h0e81b6g" role="img" viewBox="0 0 24 24" class="icon "><title id="cie3i98yxc3p02tdjryjig2h0e81b6g">Google icon</title><path d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"></path></svg>
                    Sign up with Google
                </a>
            </div>
            <hr>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form__field">
                    <div>
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>
                </div>
                <div class="form__field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>

                <div class="form__field">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
                
                <div class="form__field">
                  <%= f.submit "Sign up" %>
                </div>
            <% end %>
        </div>
        
    </div>
</div>

<%= render "devise/shared/links" %>
