<div class="password-change">
    <%= render "layouts/sidebar" %>
    <div class="content">
        <%= form_with model: @user, url: password_path, method: :patch do |f| %>
            <div> 
                <%= f.label :password, "Old Password" %>
                <%= f.password_field :password %>
            </div>
            <div> 
                <%= f.label :newpassword, "New Password" %>
                <%= f.password_field :newpassword %>
            </div>
            <div> 
                <%= f.label :confirmpassword, "Confirm New Password" %>
                <%= f.password_field :confirmpassword %>
            </div>
            <div> 
                <label></label>
                <%= f.submit "Submit"%>
            </div>
        <% end %>
    </div>
</div>